/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  text-align: center;
  margin-top: 50px;
}

.displayQuery{
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
}
.displayQuery h2{
  margin-top: 0;
  font-size: 18px;
  color: #000000;
}

.displayResponse{
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
}
.displayResponse h2 {
  margin-top: 0;
  font-size: 18px;
  color: #000000;
}
.displayQuery p, .displayResponse p{
  margin: 0;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
h1 {
  font-size: 24px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}*/

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute; /* Position absolute to the relative parent */
  top: 20%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #007BFF;
  border-color: #007BFF transparent #007BFF transparent;
  animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.displayQuery, .displayResponse {
  margin-bottom: 20px;
}

.loader {
  text-align: center;
}

.query-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.button svg {
  fill: white;
}
